*{margin:0; padding:0;}
body{
	background-color:#57c9fe;
}
#wrapper{
	width:960px;
	margin:20px auto;
}
#header{
	background-color:#ff8f17;
	color:black;
	padding:15px;
	border-bottom:4px solid black;
	height:60px;
}
#nav{
	background-color:#ff8f17;
	height:38px;
	border-bottom:4px solid black;
}
#nav ul{
	background-color:#ff8f17;
	list-style-type:none;
}
#nav ul li{
	float:left;
	border-right:2px solid black;
}
#nav ul li:last-child{
	border:none;
}
#nav ul li a{
	text-decoration:none;
	color:#000001;
	padding:10px 20px;
	display:block;
	font-family:arial;
}
#nav ul li a:hover{
	color:#fb0707;
}
#nav ul li{
	position:relative;
}
#nav ul li ul{
	position:absolute;
	left:-9999px;
	background-color:#ff8f17;
}
#nav ul li:hover ul{
	left:0px;
}
#nav ul li ul {
	float:none;
	border-right:none;
	border-bottom:2px solid #565653;
	width:150px;
}
#nav ul li ul li:first-child{
	border-top:2px solid black;
}
#nav ul li ul li {
	float:none;
	border-right:none;
	border-bottom:2px solid black;
	width:150px;
}
#nav ul li ul li:last-child{
	border:none;
}
#section img{
	width:960px;
	height:800px;
	vertical-align:middle;
		border-bottom:4px solid black;
}
#content-wrapper{
		background-color:#ff8f17;
		border-top:3px solid black;
		padding:10px 20px;
		overflow:hidden;
		border-bottom:1px solid black;
}
#content{
	float:left;
	width:600px;
	margin:20px;
}
#content p{
	color:black;
	font-family:arial;
	margin-bottom:5px;
	margin-top:10px;
}
#content img{
	width:150px;
	border:2px solid black;
	padding:5px;
}
#sidebar{
	float:right;
	width:260px;
	border:2px black solid;
	text-align:center;
}
#content img{
	width:280px;
	height:290px;
}
footer{
	background-color:#ff8f17;
	height:46px;
}
footer h2{
	color:#040404;
}

